<!-- Sidebar with menu -->
<div id="sidebar">
   <div class="menu">
      <ul class="menu">
      	<li name="about" class="l0 first"><a href="{{ site.shoulder }}/" >About<span class="tutor">Learn more about SPASE and the available tutorials.</span></a></li>
		<li name="intro" class="l0"><a href="{{ site.shoulder }}/intro.html" >What is SPASE<span class="tutor">An introduction to SPASE and the SPASE Data Model.</span></a></li>
		<li class="l0"><a href="{{ site.shoulder }}/docs">Documentation<span class="tutor">A guide to the available documentation from SPASE.</span></a></li>
			<li name="dictionary" class="l1"><a href="{{ site.shoulder }}/docs/dictionary.html" >Dictionary<span class="tutor">The dictionary defines all the terms used in SPASE models</span></a></li>
			<li name="model" class="l1"><a href="{{ site.shoulder }}/docs/model.html" >Metadata Model<span class="tutor">The Metadata Model defines the specification for how to create resource descriptions.</span></a></li>
			<li name="schema" class="l1"><a href="{{ site.shoulder }}/docs/schema.html" >XML Schema<span class="tutor">The XML Schema documents define the metadata model for use in XML documents.</span></a></li>
		<li name="tutorial" class="l0"><a href="{{ site.shoulder }}/tutorials" >Tutorials<span class="tutor">Step-by-step instructions on how to write, validate and use resource descriptions.</span></a></li>
			<li name="what" class="l1"><a href="{{ site.shoulder }}/tutorials/what.html" >What is a Resource<span class="tutor">Discover what a Resource is in the world of SPASE.</span></a></li>
			<li name="resourceid" class="l1"><a href="{{ site.shoulder }}/tutorials/resourceid.html" >Creating a Resource ID<span class="tutor">How to create a resource identifier (ID) for a new reosurce description.</span></a></li>
			<li name="you" class="l1"><a href="{{ site.shoulder }}/tutorials/you.html" >You as a Resource<span class="tutor">Create your first resource description by describing yourself.</span></a></li>
			<li name="finding" class="l1"><a href="{{ site.shoulder }}/tutorials/finding.html" >Finding a Resource<span class="tutor">Find existing resource descriptions so you don't have to do everything from scratch.</span></a></li>
			<li name="data" class="l1"><a href="{{ site.shoulder }}/tutorials/data.html" >Describing Data Resources<span class="tutor">Learn how to describe a data resource.</span></a></li>
			<li name="attribution" class="l1"><a href="{{ site.shoulder }}/tutorials/attribution.html" >Giving Credit<span class="tutor">Acknowledging the work of others is an important part of science. Learn how to give proper credit.</span></a></li>
			<li name="validate" class="l1"><a href="{{ site.shoulder }}/tutorials/validate.html" >Validating a Description<span class="tutor">Learn how to use tools to validate a resource description.</span></a></li>
		<li name="connect" class="l0 last"><a href="{{ site.shoulder }}/connect.html" >Connect with others<span class="tutor">Connect with others in the SPASE community.</span></a></li>
      </ul>
      <div class="foot"></div>
   </div>
</div>

